<div class="row w-100 m-0 mt-2">
    <div class="col-12 col-sm-8 order-1 order-sm-0 mt-2 mt-sm-0">
      <div *ngIf="db.products.length === 0">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column justify-content-center align-items-center">
              <img src="./../../../assets/empty.svg" alt="" class="img-fluid" width="256px" height="256px">
              <h5 class="card-title mt-2">
                No Items in Shopping Cart
              </h5>
  
              <button class="btn btn-dark mt-4" routerLink="/products">Go to Products</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="db.products.length !== 0">
        <div class="card shadow-sm mb-2" *ngFor="let product of db.products; index as idx">
          <div class="card-body">
            <div class="row w-100 m-0">
              <div class="col-12 col-sm-2 d-flex justify-content-center align-items-center">
                <img [src]="product['image']" [alt]="product['title']" class="img-fluid" width="128px" height="128px">
              </div>
              <div class="col-12 col-sm-10 mt-2 mt-sm-0">
                <div class="d-flex flex-column">
                  <h5 class="m-0 font-weight-bold card-title mb-1">
                    {{ product["title"] }}
                  </h5>
                  <p class="card-text text-limit m-0 mb-1">
                    {{ product["description"] }}
                  </p>
                  <p class="card-text m-0 mb-1">
                    <span class="text-muted mr-2">Qty. :</span> 
                    <span class="font-weight-bold mr-2">{{ product["quantity"] }}</span>
                  </p>
                  <p class="card-text m-0 mb-3">
                    <span class="text-muted mr-2">Price:</span>
                    <span class="font-weight-bold">{{ product["price"] | currency:'INR':'symbol' }}</span>
                  </p>
                </div>
  
                <div class="d-flex align-items-center">
                  <button type="button" class="btn btn-sm btn-dark mr-2" (click)="addPrdToWishlist(product, true, idx)">Add to Whishlist</button>
                  <button type="button" class="btn btn-sm btn-danger" (click)="removeProductFromCart(idx)">Remove</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 order-0 order-sm-1">
      <div class="card shadow-sm sticky-top">
        <div class="card-header bg-white">
          <h5 class="card-title">Summary</h5>
        </div>
        <div class="card-body">
          <div class="d-flex flex-column">
            <p class="card-text d-flex justify-content-between m-0 mb-2">
              <span class="text-muted">Total Items</span>
              <span class="font-weight-bold">{{ totalItems || 0 }}</span>
            </p>
            <p class="card-text d-flex justify-content-between m-0 mb-2">
              <span class="text-muted">Total Price</span>
              <span class="font-weight-bold">{{ totalPrice || 0 | currency:'INR':'symbol' }}</span>
            </p>
          </div>
        </div>
        <div class="card-footer bg-white border-0">
          <button type="button" class="btn btn-sm btn-dark w-100" routerLink="/checkout" [disabled]="db.products.length === 0">
            Proceed Next
          </button>
        </div>
      </div>
    </div>
  </div>