<div class="container-fluid vh-100">
    <div class="row" style="height: inherit;">
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-start px-4" id="bg">
            <h3 class="text-white text-uppercase m-0 mb-1">E-Commerce Store</h3>
            <p class="m-0 text-white h5">Admin Dashboard</p>
            <ul class="list-group mt-5 text-white" style="list-style-type: none; margin: 0; padding: 0;">
                <li>Manage Dynamic Content For Your WebSite</li>
                <li>An Optimal, Reliable and Dynamic Web Backend</li>
                <li>Modern Secure Interface based on Google Cloud</li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center" >
            <div class="card w-75 shadow-sm">
                <div class="card-header bg-white border-0">
                    <h3 class="text-center m-0">Chnage Password</h3>
                  </div>
                <div class="card-body">
                    <form>
                        <div class="form-group col-12 mt-2">
                          <label for="old-password">Old Password</label>
                          <input type="password" class="form-control" id="old-password"  autocomplete="off" aria-describedby="old-password" placeholder="Enter your old-password"
                          required>
                        </div>
                        <div class="form-group col-12 mt-2">
                          <label for="new-password">New Password</label>
                          <input type="password" class="form-control" autocomplete="off" id="new-password" placeholder="Enter your new-password" required>
                        </div>

                        <div class="form-group col-12 mt-2">
                            <label for="cnf-password">Confirm cnf-password</label>
                            <input type="password" class="form-control" autocomplete="off" id="cnf-password" placeholder="Enter your cnf-password" required>
                          </div>
                        <div class="form-group col-12 mt-2 ">
                            <a routerLink="/login" class="badge badge-dark">SignIn Here</a> &nbsp; &nbsp; &nbsp; &nbsp;
                          <a routerLink="/register" class="badge badge-dark">SignUp Here</a>
                          <button type="submit" class="btn btn-dark">Submit</button>
                        </div>                      
                      </form>
                  </div>
            </div>
        </div>
    </div>
</div>
