<div class="row w-100 m-0 mt-2">
    <div class="col-12 col-sm-4 order-0 order-sm-1">
      <div class="card">
        <div class="card-header bg-white">
          <h4 class="card-title m-0">Order Summary</h4>
        </div>
        <div class="card-body">
          <p class="card-text d-flex justify-content-between text-danger">
            <span class="text-muted text-sm">Order Total</span>
            <span class="font-weight-bold">{{ totalPrice || 0 | currency:'INR':'symbol' }}</span>
          </p>
        </div>
      </div>
      <div class="card shadow-sm mt-2">
        <div class="card-header bg-white">
          <h4 class="card-title m-0">Shipping Address</h4>
        </div>
        <div class="card-body">
          <p class="card-text d-flex flex-column">
            <span class="text-muted text-sm">Street</span>
            <span class="font-weight-bold">
              16, 1st Floor., Agboat Wala Bldg., Abdulrehman Street No 282, Nr Islami Hotel, Abdul Rehman Street
            </span>
          </p>
          <p class="card-text d-flex flex-column">
            <span class="text-muted text-sm">City</span>
            <span class="font-weight-bold">
              Mumbai
            </span>
          </p>
          <p class="card-text d-flex flex-column">
            <span class="text-muted text-sm">State</span>
            <span class="font-weight-bold">
              Maharashtra
            </span>
          </p>
          <p class="card-text d-flex flex-column">
            <span class="text-muted text-sm">Postal Code</span>
            <span class="font-weight-bold">
              400003
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 order-1 order-sm-0">
      <div class="card shadow-sm">
        <div class="card-header bg-white">
          <h4 class="card-title m-0">Payment Method</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <h5 class="mb-1">Add Debit/Credit/ATM Card</h5>
              <p class="mb-1">You can save your Mastercard and VISA cards as per new RBI guidelines</p>
              <img [src]="imageSrc" [alt]="imageSrc" *ngFor="let imageSrc of cardImages; index as idx" class="img-fluid mr-2 my-2" height="40px" width="40px">
            </li>
            <li class="list-group-item">
              <h5 class="mb-1">Netbanking</h5>
              <p class="mb-1">For faster payment and instant refund, please use UPI</p>
            </li>
            <li class="list-group-item">
              <h5>Other UPI</h5>
            </li>
            <li class="list-group-item">
              <h5>Pay on Delivery</h5>
              <p class="mb-1">Pay digitally with SMS Pay Link. Cash may not be accepted in COVID restricted areas.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>